# Ignore IDE-specific files
# NetBeans
Database/nbproject/private/

# Ignore build output directories
Database/build/

# Ignore compiled class files
*.class

# Ignore packaged files (JAR, WAR, EAR)
*.jar
*.war
*.ear

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore additional files
*.iml
/Database/dist/